@import url('https://fonts.googleapis.com/css?family=Fira+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-family: 'Fira Sans', sans-serif;
}

.location, .temperature {
  height: 30vh;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location {
  justify-content: space-around;
}

.degree-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-container span {
  margin: 8px;
  font-size: 30px;
}

.degree-container h2 {
  font-size: 40px;
}

.temperature-description {
  margin-top: 3px;
}